@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
	min-height: 100%;
	overflow: hidden;
}

body {
	height: calc(100vh - 8em);
	padding: 4em;
	color: rgba(225, 255, 255, 0.75);
	font-family: 'Anonymous Pro', monospace;
	background-color: rgba(25, 25, 25);
}

.ifinmobile{
	display: none;
}



@media(max-width: 900px){
    .ifinmobile {
        display: block;
    }
}

